body {
    font-family: 'Poppins', sans-serif;
    background-color: #181818;
    color: #fff;
    scroll-behavior: smooth;
}

.navbar {
    padding: 5px 15px !important;
    position: fixed !important;
    z-index: 999 !important;
    width: 100% !important;
}

.header-section {
/*     padding: 80px 0; */
    background-color: #282828;
    color: white;
    padding-top: 100px !important;
    padding-bottom:50px !important;
}

.title {
    font-size: 3rem;
    font-weight: 600;
}

.subtitle {
    font-size: 1.5rem;
}

.section {
    padding: 60px 0;
}

.section-title {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
}

.section-content {
    font-size: 1.2rem;
    line-height: 1.6;
}

.steps li {
    margin-bottom: 15px; 
    line-height: 1.6; 
}

.steps .command {
    margin-top: 5px;  
    margin-bottom: 10px; 
    padding: 10px 15px;
    background-color: #2a2a2a;
    border-radius: 8px;
    font-family: 'Courier New', Courier, monospace;
}

.steps .explanation {
    display: block;
    margin-top: 5px;
    font-size: 0.9rem;
    color: #ccc;
    margin-bottom: 10px; 
}

.bg-dark {
    background-color: #202020 !important;
}

.footer {
    padding: 20px;
    background-color: #000;
}

.social-links a {
    color: white;
    margin: 0 15px;
    font-size: 1.5rem;
}

.social-links a:hover {
    color: #ccc;
}
